<div class="front-page-block">
  <div class="front-page-block-image-link">
    <img src="<%= block.img_src %>">
    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 1442">
      <% for (var i = 0; i<block.overlay_links.length; i++) {
        const overlay_link = block.overlay_links[i];
        const curDynamicGroupClass = `hover-group-link-${i}`;
        const curDynamicCaptionClass = `overlay-caption-link-${i}`;%>
      <a href="<%= overlay_link.src %>">
        <g class="hover-group <%= curDynamicGroupClass %>" >
          <% for (var j = 0; j<overlay_link.paths.length; j++) { 
            const curPath = overlay_link.paths[j];
            const curDynamicPathClass = `st0-link-${i}`;
            %>
          <polygon class="st0 <%= curDynamicPathClass %>" points="<%= curPath.points %>" />
          <%}%>
          <text class="overlay-caption <%= curDynamicCaptionClass %>" x="<%= overlay_link.caption_coordinates[0] %>" y="<%= overlay_link.caption_coordinates[1] %>"><%= overlay_link.caption %></text>
        </g>
      </a>
      <%}%>
    </svg>
  </div>
</div>



<style>
  <% for (var i=0; i<block.overlay_links.length; i++) {
    let overlay_link=block.overlay_links[i];%>
    
  .st0-link-<%=i%> {
      stroke: <%=overlay_link.color%>;
      }
  
  .overlay-caption-link-<%=i%> {
    fill: <%=overlay_link.color%>;
      }

  .hover-group-link-<%=i%>:hover .st0
    {
    fill: <%=overlay_link.color+"4d"%>;
    stroke: <%=overlay_link.color%>;

      }
  
  .hover-group-link-<%=i%>:hover text {
    text-decoration: overline;
    }


  <%}%>
</style>