<nav>
  <ul>
    <li><a href="/<%= database.language %>"><%= database.nav[0] %></a></li>
    <li><a href="/<%= database.language %>/about"><%= database.nav[1] %></a></li>
    <li><a href="/<%= database.language %>/events"><%= database.nav[2] %></a></li>
    <li><a href="/<%= database.language %>/sand"><%= database.nav[3] %></a></li>
    <li><a href="/<%= database.language %>/contact"><%= database.nav[4] %></a></li>
  </ul>
</nav>