<div id="project-meta">
  <p>
    <b><%=proj_database.project_meta.title%>:</b>
  </p>

  <% for (var i = 0; i < proj_database.project_meta.meta.length; i++) {
  if (proj_database.project_meta.meta[i].type=="link-list") {%>
  <p>
    <% if (proj_database.project_meta.meta[i].name!=0) {%>
    <span><%=proj_database.project_meta.meta[i].name%></span>
    <% } 

      for (var j = 0; j<proj_database.project_meta.meta[i].links.length; j++) {

        let aclass = '';
        if (j!=proj_database.project_meta.meta[i].links.length-1) {
          aclass = 'with-comma';
          }

        if (proj_database.project_meta.meta[i].links[j].link!=0) { %>
    <span class=<%=aclass%>><a href=<%=proj_database.project_meta.meta[i].links[j].link%>><%=proj_database.project_meta.meta[i].links[j].text%></a></span>
    <% }
          else { %>
    <span class=<%=aclass%>><%=proj_database.project_meta.meta[i].links[j].text%></span>
    <% }
      } %>
  </p>
  <% }
  else { %>
  <p>
    <%=proj_database.project_meta.meta[i].name%> <%=proj_database.project_meta.meta[i].value%>
  </p>
  <% } 
    }%>
</div>