<!DOCTYPE html>
<html lang=<%= database.language %>>


<% let title = "ANTON X - About"%>
<%- include('./partials/head.ejs', { title: title}) %>

<body class="h-100vh">
<div class="layout">
  <div class="about-wrapper">
    <%- include('./partials/header.ejs', { database: database }) %>
    <div class="about-content">
      <div class="abouts-flex-parent">
        <div class="abouts-flex">
          <div class="about1">
            <%- database.about1 %>
          </div>
          <div class="about2">
            <%- database.about2 %>
          </div>
          <div class="about3">
            <%- database.about3 %>
          </div>
        </div>
      </div>
      <div class="abouts-flex-parent">
        <div class="abouts-flex">
          <div class="about4">
            <%- database.about1 %>
          </div>
          <div class="about2">
            <%- database.about2 %>
          </div>
          <div class="about3">
            <%- database.about3 %>
          </div>
        </div>
      </div>
<!--       
    <div class="flex-container">
      <div id="cv-content">
        <p><%- database['about-page'] %></p>
        <div class="cv-flex-container">
          <div class="cv-thumbnail">
            <div class="cv-thumbnail-image-link">
              <a href="/<%= language + linksShuffled[0]  %>">
                <img src=<%= "/about/img/" + imagesShuffled[0]%>>
                <div class="cv-thumbnail-overlay">
                  <p class="cv-thumbnail-title">Curriculum</p>
                </div>
              </a>
            </div>
          </div>
          <div class="cv-thumbnail">
            <div class="cv-thumbnail-image-link">
              <a href="/<%= language + linksShuffled[1]  %>">
                <img src=<%= "/about/img/" + imagesShuffled[1]%>>
                <div class="cv-thumbnail-overlay">
                  <p class="cv-thumbnail-title">Vitae</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
     -->
    </div>
  </div>
  <%- include('./partials/footer.ejs', { database: database }) %>
</div>
</body>
</html>