<!DOCTYPE html>
<html lang=<%= aboutPage.language %>>
<% let title = `${siteConfig.website_title_short} – ${aboutPage.title}` %>
<%- include('./partials/head.ejs', {title: title}) %>
<body>
  <div class="about-wrapper">
    <div class="about-nav">
      <div class="about-nav-image-link">
        <%- include('./partials/overlay-nav.ejs', {language: siteConfig.language, overlay_nav: aboutPage.overlay_nav}) %>
      </div>
    </div>
    <div class="about-content">
      <div class="abouts-flex-parent">
        <div class="abouts-flex-1">
          <div class="about1">
            <%- aboutPage.text_blocks[0].value%>
          </div>
          <div class="about2">
            <%- aboutPage.text_blocks[1].value %>
          </div>
          <div class="about3">
            <%- aboutPage.text_blocks[2].value %>
          </div>
        </div>
      </div>
      <div class="abouts-flex-parent">
        <div class="abouts-flex-2">
          <div class="about4">
            <%- aboutPage.text_blocks[3].value %>
          </div>
          <div class="about5">
            <%- aboutPage.text_blocks[4].value %>
          </div>
        </div>
      </div>
      <div class="abouts-flex-parent">
        <div class="abouts-flex-3">
          <div class="about6">
            <%- aboutPage.text_blocks[5].value %>
          </div>
          <div class="about7">
            <%- aboutPage.text_blocks[6].value %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs', { language: siteConfig.language, siteConfig: siteConfig }) %>
</body>
</html>

<script>
// center the image with navigation in the middle of the screen
  if (window.matchMedia("(max-width: 450px)").matches) {
    window.addEventListener('load', () => {
      const aboutNavImageLink = document.querySelector('.about-nav-image-link');
      const overlayImg = document.getElementById("overlay-img");
      const w0 = overlayImg.naturalWidth;
      const h0 = overlayImg.naturalHeight;
      // screen size
      const wS = window.innerWidth;
      // const hS = window.innerHeight;
      // window.innerHeight gives wrong size beccause of the adress bar etc. in the smartphone browser, so we go by the height of the element, which give the actual correct css value
      const hS = aboutNavImageLink.offsetHeight;
      // console.log(aboutNavImageLink.offsetHeight);
      
      // onscreen image size
      const hP = hS;
      const wP = (w0 / h0)*hP;
      const origPosNorm = <%= aboutPage.overlay_nav.positioning.orig_pos%>;
      const screenPosNorm = <%= aboutPage.overlay_nav.positioning.screen_pos%>;
      // setting the left value
      const left = - wP * origPosNorm + wS * screenPosNorm +  "px"; 
      aboutNavImageLink.style.left = left;
    }
    )
  }


// sliding footer
  const footer = document.getElementById("footer-front");
  document.getElementById("footer-nav-path").onclick = () => {
    footer.classList.add("active");
  };

  document.getElementById("footer-close-icon").onclick = () => {
    footer.classList.remove("active");
  };
</script>