<!DOCTYPE html>
<html lang=<%= aboutPage.language %>>

<% let title = `${siteConfig.website_title_short} – ${aboutPage.title}` %>
<%- include('./partials/head.ejs', {title: title}) %>
<body class="h-100vh">
<div class="layout">
  <div class="about-wrapper">
    <div class="about-content">
      <div class="abouts-flex-parent">
        <div class="abouts-flex-1">
          <div class="about1">
            <%- aboutPage.about1 %>
          </div>
          <div class="about2">
            <%- aboutPage.about2 %>
          </div>
          <div class="about3">
            <%- aboutPage.about3 %>
          </div>
        </div>
      </div>
      <div class="abouts-flex-parent">
        <div class="abouts-flex-2">
          <div class="about4">
            <%- aboutPage.about4 %>
          </div>
          <div class="about5">
            <%- aboutPage.about5 %>
          </div>
        </div>
      </div>
      <div class="abouts-flex-parent">
        <div class="abouts-flex-3">
          <div class="about6">
            <%- aboutPage.about6 %>
          </div>
          <div class="about7">
            <%- aboutPage.about7 %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs', { language: siteConfig.language, siteConfig: siteConfig }) %>
</div>
</body>
</html>