<!DOCTYPE html>
<html lang=<%= aboutPage.language %>>
<% let title = `${siteConfig.website_title_short} – ${aboutPage.title}` %>
<%- include('./partials/head.ejs', {title: title}) %>
<body>
  <div class="about-wrapper">
    <div class="about-nav">
      <div class="about-nav-image-link">
        <%- include('./partials/overlay-nav.ejs', {language: siteConfig.language, overlay_nav: aboutPage.overlay_nav}) %>
      </div>
    </div>
    <div class="about-content">
      <div class="abouts-flex-parent">
        <div class="abouts-flex-1">
          <div class="about1">
            <%- aboutPage.about1 %>
          </div>
          <div class="about2">
            <%- aboutPage.about2 %>
            <script>
            </script> 
          </div>
          <div class="about3">
            <%- aboutPage.about3 %>
          </div>
        </div>
      </div>
      <div class="abouts-flex-parent">
        <div class="abouts-flex-2">
          <div class="about4">
            <%- aboutPage.about4 %>
          </div>
          <div class="about5">
            <%- aboutPage.about5 %>
          </div>
        </div>
      </div>
      <div class="abouts-flex-parent">
        <div class="abouts-flex-3">
          <div class="about6">
            <%- aboutPage.about6 %>
          </div>
          <div class="about7">
            <%- aboutPage.about7 %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs', { language: siteConfig.language, siteConfig: siteConfig }) %>
</body>
</html>

<script>
// center the image with navigation in the middle of the screen
  if (window.matchMedia("(max-width: 450px)").matches) {
    window.addEventListener('load', () => {
      const aboutNavImageLink = document.querySelector('.about-nav-image-link');
      const overlayImg = document.getElementById("overlay-img");
      const w0 = overlayImg.naturalWidth;
      const h0 = overlayImg.naturalHeight;
      // screen size
      const wS = window.innerWidth;
      const hS = window.innerHeight;
      // onscreen image size
      const hP = hS;
      const wP = (w0 / h0)*hP;

      const offsetLeft = <%= aboutPage.overlay_nav.offset_left%>;
      // setting the left value
      const left = - wP * offsetLeft + wS/2 +  "px"; 
      aboutNavImageLink.style.left = left;
    }
    )
  }


// sliding footer
  const footer = document.getElementById("footer-front");
  document.getElementById("footer-nav-path").onclick = () => {
    footer.classList.add("active");
  };

  document.getElementById("footer-close-icon").onclick = () => {
    footer.classList.remove("active");
  };
</script>