<!DOCTYPE html>
<html lang=<%= aboutPage.language %>>

<% let title = `${siteConfig.website_title_short} – ${aboutPage.title}` %>
<%- include('./partials/head.ejs', {title: title}) %>
<body>
  <div class="about-wrapper">
  <div class="about-nav-overlay-path">
    <div class="about-nav-overlay">
      <img src="/about/img/anton-overlay-full.png" alt="">
    </div>
    <svg id="Layer_1" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 1259">
      <a href="/en/about">
        <g id="" class="hover-group hover-group-link-2">
          <polygon class="st0 st0-link-2" points="1052.97 705.84 1065.73 707.71 1074.74 715.97 1078.12 727.61 1075.87 737 1075.12 743.75 1072.3 746.1 1072.87 751.73 1099.9 758.86 1113.41 764.31 1123.36 778.57 1135 801.1 1144.95 815.55 1152.08 824.94 1152.08 834.32 1147.2 840.7 1136.31 839.39 1126.55 829.63 1119.23 819.87 1113.41 812.17 1111.53 807.67 1110.03 838.08 1113.04 847.09 1113.22 852.34 1119.42 852.34 1123.55 859.29 1122.8 867.36 1129.37 869.42 1129.93 879 1129.93 886.32 1133.31 888.57 1133.5 893.07 1128.8 901.15 1127.11 908.84 1122.61 940.19 1118.67 948.07 1117.54 1021.65 1111.16 1022.78 1110.41 1055.82 1099.52 1055.82 1101.4 963.46 1033.45 961.96 1035.33 1018.27 1028.76 1019.96 1027.07 1051.87 1017.87 1052.25 1015.99 985.8 1011.86 916.54 1008.11 880.83 1001.91 877.49 999.29 863.79 1001.35 854.41 1003.98 851.97 1022.75 852.9 1020.12 839.58 1015.62 824.75 1012.8 810.11 1003.42 796.59 1001.73 775.95 1010.74 770.69 1023.12 764.49 1033.64 758.3 1040.39 753.61 1040.21 745.72 1036.08 741.03 1034.2 732.21 1034.76 720.38 1039.08 713.06 1045.84 708.18 1052.97 705.84"></polygon>
          <text class="overlay-caption overlay-caption-link-2" x="1000" y="693">About</text>
        </g>
          
      </a>
    </svg>
    </div>

<style>

.st0-link-2 {
  stroke: #000000;
}
  .overlay-caption-link-2 {
    fill: #000000;
      }

  .hover-group-link-2:hover .st0
    {
    fill: #000000;
    stroke: #000000;
      }
  
  .hover-group-link-2:hover text {
    text-decoration: overline;
    }
</style>






    <div class="about-content">
      <div class="abouts-flex-parent">
        <div class="abouts-flex-1">
          <div class="about1">
            <%- aboutPage.about1 %>
          </div>
          <div class="about2">
            <%- aboutPage.about2 %>
          </div>
          <div class="about3">
            <%- aboutPage.about3 %>
          </div>
        </div>
      </div>
      <div class="abouts-flex-parent">
        <div class="abouts-flex-2">
          <div class="about4">
            <%- aboutPage.about4 %>
          </div>
          <div class="about5">
            <%- aboutPage.about5 %>
          </div>
        </div>
      </div>
      <div class="abouts-flex-parent">
        <div class="abouts-flex-3">
          <div class="about6">
            <%- aboutPage.about6 %>
          </div>
          <div class="about7">
            <%- aboutPage.about7 %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs', { language: siteConfig.language, siteConfig: siteConfig }) %>
</body>
</html>