<!DOCTYPE html>
<html lang=<%= siteConfig.language %>>

<% let title = `${siteConfig.website_title_short} – ${category}`;%>
<%- include('./partials/head.ejs', { title: title }) %>
<%
  const curCatId = catConfig._id;
  const curCatWrapperClass = `category-wrapper-${curCatId}`;
%>
<body>
  <div class="category-wrapper <%= curCatWrapperClass %>">
    <div class="category-nav">
      <div class="category-nav-image-link">
        <%- include('./partials/overlay-nav.ejs', {language: siteConfig.language, overlay_nav: catConfig.overlay_nav}) %>
      </div>
    </div>
    <div class="category-content">
      <div class="tag-filters">

      </div>
      <div class="projects-thumbnails">
          <% let empty = true;
          if (projects.length == 0) { %>
            <p>Nothing's here yet.</p>
          <% } 
          else {
            for (var i = 0; i<projects.length; i++) { %>
              <%- include('./partials/project-thumbnail.ejs', {language: siteConfig.language, project: projects[i]}) %>
            <% }
          } %>
      </div>
    </div>  
  </div>
        <%- include('./partials/footer.ejs', { language: siteConfig.language, siteConfig: siteConfig }) %>
</body>
</html>



<script>
// center the image with navigation in the middle of the screen
  if (window.matchMedia("(max-width: 450px)").matches) {
    window.addEventListener('load', () => {
      const categoryNavImageLink = document.querySelector('.category-nav-image-link');
      const overlayImg = document.getElementById("overlay-img");
      const w0 = overlayImg.naturalWidth;
      const h0 = overlayImg.naturalHeight;
      // screen size
      const wS = window.innerWidth;
      // const hS = window.innerHeight;
      // window.innerHeight gives wrong size beccause of the adress bar etc. in the smartphone browser, so we go by the height of the element, which give the actual correct css value
      const hS = categoryNavImageLink.offsetHeight;
      // onscreen image size
      const hP = hS;
      const wP = (w0 / h0)*hP;

      const origPosNorm = <%= catConfig.overlay_nav.positioning.orig_pos%>;
      const screenPosNorm = <%= catConfig.overlay_nav.positioning.screen_pos%>;
      // setting the left value
      const left = - wP * origPosNorm + wS * screenPosNorm +  "px"; 
      categoryNavImageLink.style.left = left;
    }
    )
  }

// sliding footer
  const footer = document.getElementById("footer-front");
  document.getElementById("footer-nav-path").onclick = () => {
    footer.classList.add("active");
  };

  document.getElementById("footer-close-icon").onclick = () => {
    footer.classList.remove("active");
  };

  //***************************************************************
  //dealing with tags from the db
  //***************************************************************
  current_lang = "<%= siteConfig.language %>";
  current_cat = "<%= catConfig._id %>";

  const activeTags = new Set();  
  
  //loading tags from the db
  document.addEventListener("DOMContentLoaded", () => {
    loadTags();
});

  async function loadTags() {
    //fetching all tags from the db
    const url = `/${current_lang}/tags?category=${current_cat}`;
    const res = await fetch(url);
    const tags = await res.json(); //tags as objects after the translation, with the actual key (the actual tag for db look-up) and label for the button
    const container = document.querySelector(".tag-filters");
    container.innerHTML = "";
    tags.forEach(tag => {
      const btn = document.createElement("button");
      btn.classList.add("tag-btn");
      btn.dataset.tag = tag.key;
      btn.textContent = tag.label;
      btn.addEventListener("click", () => toggleTag(btn, tag.key));
      container.appendChild(btn);
    });
    //creating reset button
    if (tags.length) {
      const resetBtn = document.createElement("button");
      resetBtn.classList.add("tag-btn");
      resetBtn.textContent = "reset";
      container.appendChild(resetBtn);

      resetBtn.addEventListener("click", () => {
        // Clear state
        activeTags.clear();
        // Remove visual active state
        document.querySelectorAll(".tag-btn").forEach(btn => {
          btn.classList.remove("active");
        });
        // Reload all projects
        filterProjects(activeTags);
      });
      }
  }

  // manages toggle mode of the buttons on/off
  function toggleTag(btn, tag) {
    if (activeTags.has(tag)) {
      activeTags.delete(tag);
      btn.classList.remove("active");
    } else {
      activeTags.add(tag);
      btn.classList.add("active");
    }
    filterProjects(activeTags);
  }

  // filters projects based on tags
  async function filterProjects(tagsSet) {
    const tags = [...tagsSet];
    const baseUrl = `/${current_lang}/category=${current_cat}`;    
    const url = tags.length ? `${baseUrl}?tags=${encodeURIComponent(tags.join(","))}` : baseUrl;
    
    const res = await fetch(url, {
      headers: {
        "Accept": "application/json"
      }
    });
    
    projects = await res.json();
    container = document.querySelector(".projects-thumbnails");
    container.innerHTML = "";

    for (var i = 0; i<projects.length; i++) {
      const curProject = projects[i];

      const projectThumbnail = document.createElement("div");
      projectThumbnail.className = "project-thumbnail";

      const projectThumbnailImageLink = document.createElement("div");
      projectThumbnailImageLink.className = "project-thumbnail-image-link";

      const projectLink = document.createElement("a");
      projectLink.href = `/${current_lang}${curProject.src}`;

      const projectThumbnailImageWrapper = document.createElement("div");
      projectThumbnailImageWrapper.className = "project-thumbnail-image-wrapper";

      const projectImg = document.createElement("img");
      projectImg.src = curProject.img_src;

      projectThumbnailImageWrapper.appendChild(projectImg);
      projectLink.appendChild(projectThumbnailImageWrapper);      
      projectThumbnailImageLink.appendChild(projectLink);
      projectThumbnail.appendChild(projectThumbnailImageLink);

      const projectThumbnailMeta = document.createElement("div");
      projectThumbnailMeta.className = "project-thumbnail-meta";

      const projectTitle = document.createElement("p");
      projectTitle.className = "project-thumbnail-title";
      projectTitle.textContent = curProject.title;

      const projectSubTitle = document.createElement("p");
      projectSubTitle.className = "project-thumbnail-subtitle";
      projectSubTitle.textContent = curProject.subtitle;

      projectThumbnailMeta.appendChild(projectTitle);
      projectThumbnailMeta.appendChild(projectSubTitle);

      projectThumbnail.appendChild(projectThumbnailMeta);

      container.appendChild(projectThumbnail);
}
  }
</script>