<!DOCTYPE html>
<html lang=<%= database.language %>>

<% let title = `${database.title} – Home`%>
<%- include('./partials/head.ejs', { title: title}) %>

<body>
<div class="layout">
  <div class="category-wrapper">
    <div class="category-content">
      <!-- <div class="short-about">
        <%- database.shortabout %>
      </div> -->
      <div id="projects-thumbnails">
          <% for (var [key, value] of Object.entries(database.projects)) { 
            if (value.categories.includes(category)) { %>
            <%- include('./partials/project-thumbnail.ejs', {language: database.language, project: value}) %>
          <%  }
           } %>
      </div>
    </div>
  </div>
      <%- include('./partials/footer.ejs', { database: database }) %>

  </div>

</body>

</html>