<!DOCTYPE html>
<html lang=<%= siteConfig.language %>>

<% let title = `${siteConfig.website_title_short} – ${page.title}`%>
<%- include('./partials/head.ejs', { title: title}) %>

<body>
  <div class="imprint-wrapper">
    <div class="imprint-content">
      <div class="imprint-header">
        <div class="imprint-title">
          <%- page.title %>
        </div>
        <div id="footer-nav-path" class="imprint-hamburger">
          <img src="/events/img/hamburger_icon.png" alt="">
        </div>
      </div>
      <div class="imprint-flex-parent">
        <div class="imprint">
          <%- page.text_blocks[0].value %>
        </div>
      </div>
      
    </div>
    <%- include('./partials/footer.ejs', { language: siteConfig.language, siteConfig: siteConfig }) %>
  </div>
</body>
</html>

<script>
// sliding footer
  const footer = document.getElementById("footer-front");
  document.getElementById("footer-nav-path").onclick = () => {
    footer.classList.add("active");
  };

  document.getElementById("footer-close-icon").onclick = () => {
    footer.classList.remove("active");
  };
</script>