<!DOCTYPE html>
<html lang=<%= siteConfig.language %>>

<% let title = `${siteConfig.website_title_short} – ${pageConfig.pageTitle}`;%>
<%- include('./partials/head.ejs', {title: title}) %>

<body>
  <div class="wrapper">
    <div class="imprint-title">
      <%- pageConfig.pageTitle %>
    </div>
    <div class="flex-container">
      <div class="imprint">
        <%- pageConfig.text %>
      </div>
    </div>
      <%- include('./partials/footer.ejs', { language: siteConfig.language, siteConfig: siteConfig }) %>
  </div>
</body>

</html>