<!DOCTYPE html>
<html lang=<%= database.language %>>

<%- include('./partials/head.ejs') %>

<body>
  <div class="wrapper">
    <%- include('./partials/header.ejs', { database: database }) %>
    <div class="flex-container">
      <div id="content">
        <div id="main-content-div"><%= database.shortabout %></div>
        <div class="projects-flex-container">
          <% for (var [key, value] of Object.entries(database.projects)) { %>
          <%- include('./partials/project-thumbnail.ejs', {language: database.language, project: value}) %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <a href="/imprint">Impressum</a>
    &copy; Detox 2023
  </div>
  </div>
</body>

</html>