<!DOCTYPE html>
<html lang=<%= siteConfig.language %>>

<% let title = `${siteConfig.website_title_short} – ${project.title}`;%>
<%
  const curCategories = project.categories;
  const classLine = [
  "project-wrapper",
  ...curCategories.map(cat => `cat-${cat}`)
    ].join(" ");
%>
<%- include('./partials/head.ejs', { title: title }) %>
<body class="h-100vh">
  <div class="<%=classLine%>" style="background-color: #fff">
    <div class="proj-content">
      <div class="proj-header">
        <div class="proj-title-subtitle">
          <div class="proj-title">
            <%- project.title %>
          </div>
          <div class="proj-subtitle">
            <%-project.subtitle %>
          </div>
        </div>
        <div id="footer-nav-path" class="proj-hamburger">
          <img src="/css/img/hamburger_icon.png" alt="">
        </div>
      </div>
      <div class="proj-article-meta">
        <div class="proj-article">
        <% for (const cur_block of project.content) {
          if (cur_block.type=="img") { %>
            <div class="image-mount-label">
              <div class="image-mount">
                <img src=<%=cur_block.src %> >
              </div>
            <%-cur_block.label %>
            </div>
        
        <% } else if (cur_block.type=="gallery") { %>
            <%- include('./partials/gallery.ejs', { block: cur_block }) %>
        
        <% } else if (cur_block.type=="youtube") { %>
          <div class="youtube-wrapper">
            <div class="youtube-title">
              <%- cur_block.label %>
            </div>
            <div class="iframe-container">
              <iframe src=<%=cur_block.src %> frameborder="0" allowfullscreen class="youtube-video"></iframe>
            </div>
          </div>
        
        <% } else if (cur_block.type=="vimeo") { %>
          <div class="vimeo-wrapper">
            <div class="vimeo-title">
              <%- project_media[i].title %>
            </div>
            <div class="iframe-container">
              <iframe src=<%=cur_block.src %> width="640" height="360" frameborder="0" allow="fullscreen" allowfullscreen class="vimeo-video"></iframe>
            </div>
          </div>
  <% } else if (cur_block.type=="text") { %>
          <div class="project-text">
            <%- cur_block.value %>
          </div>
  <% } else if (cur_block.type=="spacer") { 
          const classLine = `height: ${cur_block.spaceValue};`;
    %>
          <div style="<%=classLine %>" >
          </div>
  <% } 
        }
  %>  
        </div>
        <%- include('./partials/project-meta.ejs', { project_meta: project.meta }) %>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs', { language: siteConfig.language, siteConfig: siteConfig }) %>
</body>
</html>

<script>
// sliding footer
  const footer = document.getElementById("footer-front");
  let footer_visible = false;
  document.getElementById("footer-nav-path").onclick = () => {
    if (!footer_visible) {
    footer.classList.add("active");
    footer_visible = true;
    } else {
      footer.classList.remove("active");
      footer_visible = false;
    }
  };

  document.getElementById("footer-close-icon").onclick = () => {
    footer.classList.remove("active");
  };
</script>