<!DOCTYPE html>
<html lang=<%= database.lang %>>

<% let title = `${database.title} - ${proj_database.title}`%>

<%- include('./partials/head.ejs', { title: title}) %>

<body>
  <div class="wrapper-project">
    <%- include('./partials/header.ejs', { database: database }) %>
    <div class="proj-header">
      <div class="proj-title">
        <%= proj_database.title %>
      </div>
      <div class="proj-subtitle">
        <%-proj_database.subtitle %>
      </div>
    </div>
    <div class="proj-content-meta">
      <div id="project-content">
        <%- include('./partials/proj-media.ejs', { proj_database: proj_database }) %>
        <div class="proj-meta">
          <%- proj_database.description %>
        </div>
      </div>
      <%- include('./partials/project-meta.ejs', { proj_database: proj_database }) %>
    </div>
  </div>
      <%- include('./partials/footer.ejs', { database: database }) %>

</body>

</html>