<!DOCTYPE html>
<html lang=<%= siteConfig.language %>>

<% let title = `${siteConfig.website_title_short} – ${project.title}`;%>

<%- include('./partials/head.ejs', { title: title }) %>
<body class="h-100vh">
  <div class="project-wrapper" style="background-color: #fff">
    <div class="project-content">
      <div class="proj-header">
        <div class="proj-title-subtitle">
          <div class="proj-title">
            <%= project.title %>
          </div>
          <div class="proj-subtitle">
            <%-project.subtitle %>
          </div>
        </div>
        <div id="footer-nav-path" class="project-hamburger">
          <img src="/css/img/hamburger_icon.png" alt="">
        </div>
      </div>
      <div class="proj-content-meta">
        <div id="project-content">
          <%- include('./partials/proj-media.ejs', { project_media: project.media }) %>
          <div class="proj-meta">
            <%- project.description %>
          </div>
        </div>
        <%- include('./partials/project-meta.ejs', { project_meta: project.meta }) %>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs', { language: siteConfig.language, siteConfig: siteConfig }) %>
</body>
</html>

<script>
// sliding footer
  const footer = document.getElementById("footer-front");
  document.getElementById("footer-nav-path").onclick = () => {
    footer.classList.add("active");
  };

  document.getElementById("footer-close-icon").onclick = () => {
    footer.classList.remove("active");
  };
</script>