<!DOCTYPE html>
<html lang=<%= database.lang %>>

<% let title = `ANTON X - ${proj_database.title}`%>
<%- include('./partials/head.ejs', { title: title}) %>

<body>
  <div class="wrapper-project">
    <%- include('./partials/header.ejs', { database: database }) %>
    <div class="proj-header">
      <div class="proj-title">
        <%= proj_database.title %>
      </div>
      <div class="proj-subtitle">
        <%= proj_database.subtitle %>
      </div>
    </div>
    <div class="flex-container">
      <div id="project-content">
        <div id="main-content-div">
          <%- include('./partials/proj-media.ejs', { proj_database: proj_database }) %>
          <div class="proj-description">
            <%- proj_database.description %>
          </div>
        </div>
      </div>
      <%- include('./partials/project-meta.ejs', { proj_database: proj_database }) %>
    </div>
    <%- include('./partials/footer.ejs', { database: database }) %>
  </div>
</body>

</html>