<!DOCTYPE html>
<html lang=<%= database.lang %>>

<%- include('./partials/head.ejs') %>

<body>
  <div class="wrapper">
    <%- include('./partials/header.ejs', { database: database }) %>
    <div class="proj-title">
      <%= proj_database.title %>
    </div>
    <div class="proj-subtitle">
      <%= proj_database.subtitle %>
    </div>
    <div class="flex-container">
      <div id="content">
        <div id="main-content-div">

          <%- include('./partials/proj-media.ejs', { proj_database: proj_database }) %>
          <div class="proj-description">
            <%- proj_database.description %>
          </div>
        </div>
      </div>
      <%- include('./partials/project-meta.ejs', { proj_database: proj_database }) %>
    </div>
    <div class="footer">
      <a href="/imprint">Impressum</a>
      &copy; Detox 2023
    </div>
  </div>
</body>

</html>